/* Remove default styling and set box-sizing to border-box */
* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  /* border: 1px solid orchid;  */
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* top banner styling */

.top-banner-container, .footer {
  background-color: #1f2937;
}

.white-subtext {
  color: #e5e7eb;
  font-size: 18px;
}

.top-banner-content{
  padding: 5%;
}

#ice-cream-van-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
} 

.white-subheading {
  color: #f9faf8;;
  font-size: 24px;
  font-weight: bold;
}

.header-main-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}

.signup-button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 2%;
  border-radius: 10px;
  width: 30%;
  align-self: flex-start;
}

.top-banner-left {
  padding: 0% 2%;
}

/* Parent Flexbox */
body {
  display: flex;
  flex-flow: column;
  font-family: "Sora", sans-serif;
}

/* Positioning for top header bar so that content displays on one line with 
title on left and links on right side of bar */
.header-bar {
  display: flex;
  justify-content: space-between;
  padding: 1% 5%;
}

.header-links {
  display: flex;
  gap: 18px;
}

/* Positioning for top banner content - Text and signup should display on left 
and image on right*/
.top-banner-content {
  display: flex;
  justify-content: center;
}
/* left content and right content should each use half of parent space */
.top-banner-left, .top-banner-right {
  flex-basis: 50%; 
}

.top-banner-left {
  display: flex;
  flex-flow: column wrap;
  gap: 1em;
}

/* Info section styling */
.info-image {
  width: auto;
  height: 140px;
  align-self: center;
  border: 2px solid #3882f6;
  border-radius: 10px;
  padding: 20px;
}

.info-title {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
}

.subtext {
  color: #314258;
  margin-top: 5%;
}

/* Info section positioning */
.services-container {
  display: flex;
  gap: 2%;
  margin: 20px 0px;
  padding: 5%;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 5% 10%;
}

.item {
  display: flex;
  flex-flow: column wrap;
  /* this allows bar to resize - if want to be static set to width 200px */
  width: 100%;
  margin: 5px;
}

/* Quote container */

.quote-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: #e5e7eb;
  padding: 5% 10%;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
  text-align: left;
}

.quote-source {
  font-size: 28px;
  font-weight: bold;
  color: #1f2937;
  text-align: right;
}

/* Call to action container */

.call-to-action-container {
  display: flex;
  padding: 5% 10%;
  justify-content: center;
}

.call-to-action-content {
  background-color: #3882f6;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2% 10%;
}

.call-to-action-text {
  display: flex;
  flex-flow: column wrap;
  padding: 0% 5%;
}

.call-to-action-button {
  align-self: center;
  border: 1px solid #f9faf8;
}

/* Footer container */
.footer {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 2% 10%;
  font-size: 14px;
  font-weight: lighter;
}



